
@media (max-width: 2000px) and (min-width: 1000px){
	body {
		background-color: tomato;
		color: #01796F;
	}
	.drawing {
		width: 600px;
		height: 300px;
		/*wait I think I did it well ??? why is everything big again time to cry*/
		/* width: 100% !important; */
		margin-top: 30px;
		margin-left: 700px;

	}

	.drawing2 {
		width: 600px;
		height: 300px;
		/*wait I think I did it well ??? why is everything big again time to cry*/
		/* width: 100% !important; */
		margin-top: 30px;
		margin-left: 700px;}

	.d2 {
		width: 600px;
		height: 600 px;
		margin-top: 50px;
		margin-left: -50px;
	}
} 

button {
	background-color: #01796F;
	color: white;
	border-radius: 8px;
	font-family: 'Schoolbell', cursive; 

}
#canvas {
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
}

#content {
	width: 500px;
	margin: auto;
}


.unselectable {
	/* Stops you from selecting/dragging */
	pointer-events: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	position: absolute;
	z-index: -1;
}







